@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dyslexia";
  src: url("../font/dislexia.woff2") format("woff2");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;

  --body-radial-color-1: #181c22;
  --body-radial-color-2: #050e29;
}

* {
  @apply outline-none focus-visible:outline-blue-500 focus-visible:ring-blue-500 rounded-sm;
}

body {
  @apply flex flex-col items-center justify-center m-auto min-w-full h-fit prose prose-invert p-2 sm:p-3 sm:py-5 py-3 [&>article]:container [&>hr]:h-[2px] [&>hr]:w-20 [&>hr]:bg-slate-200 [&>hr]:border-0 [&>article]:lg:max-w-[75%];
  background: radial-gradient(circle at center, var(--body-radial-color-1) 0%, var(--body-radial-color-2) 100%);
  min-height: 100vh;
}

p,
ul,
li,
a {
  @apply text-balance transition-colors hover:text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/*        */
/* Navbar */
/*        */
header {
  @apply w-full pt-3 text-center;

  h1 {
    @apply w-full;
  }

  nav {
    @apply max-w-7xl w-full m-auto;

    ul {
      @apply flex flex-wrap space-x-2 ps-0 list-none border-y-2 border-slate-200;

      li {
        @apply flex-grow;

        a {
          @apply text-balance hover:underline hover:text-gray-400 block w-full no-underline;
        }
      }
    }
  }
}

.anchor-page-top {
  @apply appearance-none block cursor-pointer fixed bottom-0 right-0 mr-5 mb-5 rounded-full hover:bg-slate-800 w-10 h-10 p-1 focus:outline-4 focus:outline-slate-100;

  p {
    @apply absolute whitespace-nowrap opacity-0 bottom-8 right-0 py-2 px-3 bg-slate-800 rounded-xl  transition-opacity;
  }
}

body:has(input[id="font-toggler"]:checked) {
  font-family: Dyslexia, sans-serif;
}

::selection {
  @apply bg-white text-black;
}
